.CreateUserAccount {
    box-sizing: border-box;
    border: 8px #5f5e5e solid;
    width: 100%;
    min-height: 0px;
    margin: 0% 0% 0% 0%;
    padding: 3%;
    background-color: #403f3f;
    color: #f0f0f0;
}
