.UserInterest {
    box-sizing: border-box;
    border: 8px #5f5e5e solid;
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 3%;
    background-color: #403f3f;
    color: #f0f0f0;
    height: auto;
}

.UserInterest > table > thead > tr > th {
    padding: 15px;
    text-align: left;
    font-size: large;
    border: 1px solid #f0f0f0;
}

.UserInterest > table > tbody > tr > td {
    padding: 15px;
    text-align: left;
    font-size: large;
    border: 1px solid #f0f0f0;
}

.UserInterest > table > tbody > tr:nth-child(odd) {
    background-color: #5f5e5e;
}