body,
html {
    height: 100%;
    background-color: #403f3f;
}

.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0em;
    margin-bottom: 1em;
    background-color: #5f5e5e;
    color: #fff;
}

.Header > h1 {
    color: #f0f0f0;
    margin-left: 10px;
    margin-top: 15px;
}

.Header > .LogOut {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: auto;
}

.Header > .LogOut > h2 {
    color: #f0f0f0;
    margin-right: 25px;
    margin-top: 15px;
}

.Header > .LogOut > Button {
    padding: 0em;
    color: #403f3f;
    background-color: #f0f0f0;
    margin-right: 25px;
    width: 55px;
    height: 30px;
    margin-top: 15px;
}

.Header > .dot {
    height: 50px;
    width: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    margin-left: 25px;
}

.Columns {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #403f3f;
    color: #fff;
}

.Columns > .InfoColumn {
    background-color: #5f5e5e;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 20%;
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    scroll-margin-top: 100px;
    scrollbar-color: #f0f0f0 #5f5e5e;
}

.Columns > .InfoColumn::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #5f5e5e;
}

.Columns > .InfoColumn::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #5f5e5e;
}

.Columns > .InfoColumn::-webkit-scrollbar-corner {
    background: #5f5e5e;
}

.Columns > .LinkColumn {
    background-color: #5f5e5e;
    margin-right: 20%;
    height: 100%;
    width: 30%;
}

hr {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
}

label {
    display: block;
    margin: 0 0 0.28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

#amount-input {
    margin-bottom: 14px;
}

#PhoneInput {
    margin-bottom: 14px;
}

#DatePicker {
    margin-bottom: 14px;
}

.react-date-picker__inputGroup__input {
    height: auto;
}
